@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --blue: #608cab;
    --green: #72a079;
    --red: #bb4948;
}

@media (prefers-color-scheme: light) {
    :root {

        --primary-1: hsl(0, 0%, 90%);
        --primary-2: hsl(0, 0%, 80%);
        --primary-3: hsl(0, 0%, 70%);
        --secondary-1: hsl(0, 0%, 10%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {

        --primary-1: hsl(0, 0%, 10%);
        --primary-2: hsl(0, 0%, 20%);
        --primary-3: hsl(0, 0%, 30%);
        --secondary-1: hsl(0, 0%, 90%);
    }
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    font-size: clamp(12px, 2vw, 16px);
}

body {
    align-items: center;
    background-color: var(--primary-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.input {
    align-items: center;
    background-color: var(--primary-2);
    border-radius: 1rem;
    bottom: 2rem;
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    position: fixed;
}

.input > * {
    background-color: var(--primary-3);
    border-radius: 1rem;
    color: var(--secondary-1);
    font-size: 2rem;
    height: 4rem;
    padding-top: 1rem;
    text-align: center;
    transition: background-color 0.25s, color 0.25s, opacity 0.25s;
    width: 4rem;
}

.input > *:hover {
    cursor: pointer;
    opacity: 0.8;
}

.input > *.inverted {
    background-color: var(--secondary-1);
    color: var(--primary-1);
}

#output {
    background-color: var(--secondary-1);
    display: grid;
    height: 20rem;
    width: 20rem;
}