@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url("../font/arialroundedmtbold.ttf");
}

:root {
    --dark-1: hsl(0, 0%, 10%);
    --dark-2: hsl(0, 0%, 20%);
    --dark-3: hsl(0, 0%, 30%);
    --light-1: hsl(0, 0%, 90%);
    --blue: #608cab;
    --green: #72a079;
    --red: #bb4948;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    align-items: center;
    background-color: var(--dark-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.input-container {
    align-items: center;
    background-color: var(--dark-2);
    border-radius: 0.5rem;
    bottom: 2rem;
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    position: fixed;
}

@media (max-height: 700px) and (min-width: 700px) {
    .input-container {
        bottom: unset;
        flex-direction: column;
        right: 2rem;
    }
}

.input-button {
    background-color: var(--dark-3);
    border-radius: 0.5rem;
    color: var(--light-1);
    font-size: 2rem;
    height: 4rem;
    padding-top: 1rem;
    text-align: center;
    transition: background-color 0.25s, color 0.25s, opacity 0.25s;
    width: 4rem;
}

.input-button:focus-visible {
    outline: 2px solid var(--light-1);
}

.input-button:hover {
    cursor: pointer;
}

.input-button:active {
    opacity: 0.9;
}

.input-button.inverted {
    background-color: var(--light-1);
    color: var(--dark-1);
}

.sketchpad {
    background-color: var(--dark-2);
    border-radius: 0.5rem;
    padding: 2rem;
}

.output {
    background-color: var(--light-1);
    display: grid;
    height: 20rem;
    width: 20rem;
}

@media only screen and (max-width: 500px) {
    .output {
        height: 18rem;
        width: 18rem;
    }
}

@media only screen and (max-width: 450px) {
    .output {
        height: 16rem;
        width: 16rem;
    }
}

@media only screen and (max-width: 400px) {
    .output {
        height: 14rem;
        width: 14rem;
    }
}

@media only screen and (max-width: 350px) {
    .output {
        height: 12rem;
        width: 12rem;
    }
}