@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --black-1: #1a1a1a;
    --black-2: #333333;
    --black-3: #4d4d4d;
    --blue: #608cab;
    --green: #72a079;
    --red: #bb4948;
    --white: #e6e6e6;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    font-size: clamp(12px, 2vw, 16px);
}

body {
    align-items: center;
    background-color: var(--black-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 2rem clamp(1rem, 10vw, 10rem);
    width: 100%;
}

header nav {
    align-items: center;
    display: flex;
    gap: 1rem;
}

header nav .white {
    color: var(--white);
}

header nav .red {
    color: var(--red);
}

header nav .green {
    color: var(--green);
}

header nav .blue {
    color: var(--blue);
}

main {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-block: 2rem;
    width: 100vw;
}

main .tablet {
    background-color: var(--black-2);
    border-radius: 2rem;
    display: grid;
    gap: 1rem;
    grid-template: 20rem 6rem / repeat(3, 6rem);
    padding: 2rem;
}

main .tablet #output {
    background-color: var(--white);
    display: grid;
    grid-column: 1 / 4;
}

main .tablet .input {
    align-items: center;
    background-color: var(--black-3);
    border-radius: 1rem;
    color: var(--white);
    display: flex;
    font-size: 3rem;
    justify-content: center;
    transition: background-color 0.25s, color 0.25s;
}

main .tablet .input:hover {
    cursor: pointer;
}

main .tablet .invert.input {
    background-color: var(--white);
    color: var(--black-2);
}

footer {
    align-items: center;
    color: var(--white);
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}